/* article */
.list li {
  margin: 70px 0;
}

.diary-article {
  border-color: #677880;
  border-style: solid;
  border-width: 4px 1px 1px 1px;
  padding: 64px 48px;
  position: relative;
}

.diary-article::before,
.diary-article::after {
  content: '';
  display: block;
  width: 80px;
  height: 40px;
  background: royalblue;
  position: absolute;
}

.diary-article::before {
  top: -20px;
  left: 30px;
  background: #fffaf0 url(../images/quote-start.svg) no-repeat 0 0 / contain;
}

.diary-article::after {
  bottom: -20px;
  right: 30px;
  background: #fffaf0 url(../images/quote-end.svg) no-repeat 0 0 / contain;
}

.article-title {
  color: #29363d;
  font-size: 16px;
  float: left;
}

.article-title::before {
  content: '';
  display: block;
  width: 100%;
  border-top: 1px solid #677880;
  position: absolute;
  top: 4px;
  left: 0;
  z-index: -1;
}

.article-time {
  color: #677880;
  font-size: 12px;
  float: right;
}

.article-content {
  color: #5a6a72;
  font-size: 14px;
  line-height: 1.4;
  clear: both;
  margin-top: 40px;
}

.button-group {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #fff;
  border: 1px solid #677880;
  width: 111px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-group button {
  width: 32px;
  height: 32px;
  background: none;
  padding: 0;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.button-group button:hover {
  opacity: 1;
}

.button-group button img {
  width: 100%;
}

.button-group span {
  display: inline-block;
  width: 1px;
  height: 16px;
  background: #d8ddde;
  margin: 0 4px;
}
